In [17]:
import pandas as pd
import numpy as np

%matplotlib inline

df_br_oil_prices = pd.read_csv('../data/br_oil_prices_per_state_2004_2021.csv')

Renomeação de colunas que possuíam acento e ç

In [18]:
df_br_oil_prices = df_br_oil_prices.rename(columns={df_br_oil_prices.columns[0]: 'DATA INICIAL',
                                 df_br_oil_prices.columns[1]: 'DATA FINAL',
                                 df_br_oil_prices.columns[2]: 'REGIAO',
                                 df_br_oil_prices.columns[4]: 'PRODUTO',                
                                 df_br_oil_prices.columns[5]: 'NUMERO DE POSTOS PESQUISADOS',
                                 df_br_oil_prices.columns[7]: 'PRECO MEDIO REVENDA', 
                                 df_br_oil_prices.columns[8]: 'DESVIO PADRAO REVENDA', 
                                 df_br_oil_prices.columns[9]: 'PRECO MINIMO REVENDA',
                                df_br_oil_prices.columns[10]: 'PRECO MAXIMO REVENDA',
                                df_br_oil_prices.columns[11]: 'MARGEM MEDIA REVENDA',
                                df_br_oil_prices.columns[12]: 'COEF VARIACAO REVENDA'})

Conversão do formato para data

In [19]:
df_br_oil_prices['DATA INICIAL'] = df_br_oil_prices['DATA INICIAL'].astype('datetime64[ns]')
df_br_oil_prices['DATA FINAL'] = df_br_oil_prices['DATA FINAL'].astype('datetime64[ns]')

Exclusão de colunas que não serão necessárias para o objetivo do trabalho

In [20]:
df_br_oil_prices = df_br_oil_prices.drop(columns = {df_br_oil_prices.columns[11],
                                                    df_br_oil_prices.columns[13],
                                                    df_br_oil_prices.columns[14], 
                                                    df_br_oil_prices.columns[15], 
                                                    df_br_oil_prices.columns[16], 
                                                    df_br_oil_prices.columns[17]}, axis=1)

In [21]:
df_br_oil_prices["ESTADO"].unique()

array(['DISTRITO FEDERAL', 'GOIAS', 'MATO GROSSO', 'MATO GROSSO DO SUL',
       'ALAGOAS', 'BAHIA', 'CEARA', 'MARANHAO', 'PARAIBA', 'PERNAMBUCO',
       'PIAUI', 'RIO GRANDE DO NORTE', 'SERGIPE', 'ACRE', 'AMAPA',
       'AMAZONAS', 'PARA', 'RONDONIA', 'RORAIMA', 'TOCANTINS',
       'ESPIRITO SANTO', 'MINAS GERAIS', 'RIO DE JANEIRO', 'SAO PAULO',
       'PARANA', 'RIO GRANDE DO SUL', 'SANTA CATARINA'], dtype=object)

Converter nome do Estado para Sigla

In [22]:
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("RONDONIA", "RO", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("ACRE", "AC", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("AMAZONAS", "AM", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("RORAIMA", "RR", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("PARA", "PA", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("AMAPA", "AP", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("TOCANTINS", "TO", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("MARANHAO", "MA", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("PIAUI", "PI", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("CEARA", "CE", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("RIO GRANDE DO NORTE", "RN", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("PARAIBA", "PB", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("PERNAMBUCO", "PE", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("ALAGOAS", "AL", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("SERGIPE", "SE", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("BAHIA", "BA", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("MINAS GERAIS", "MG", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("ESPIRITO SANTO", "ES", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("RIO DE JANEIRO", "RJ", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("SAO PAULO", "SP", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("PARANA", "PR", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("SANTA CATARINA", "SC", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("RIO GRANDE DO SUL", "RS", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("MATO GROSSO DO SUL", "MS", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("MATO GROSSO", "MT", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("GOIAS", "GO", regex=True)
df_br_oil_prices["ESTADO"] = df_br_oil_prices["ESTADO"].replace("DISTRITO FEDERAL", "DF", regex=True)

Retirando duplicatas (mesma palavra com e sem acento)

In [23]:
df_br_oil_prices['PRODUTO'] = df_br_oil_prices['PRODUTO'].str.replace('ÓLEO DIESEL S10', 'OLEO DIESEL S10')
df_br_oil_prices['PRODUTO'] = df_br_oil_prices['PRODUTO'].str.replace('ÓLEO DIESEL', 'OLEO DIESEL')

Total de dados de cada tipo de combustível

In [24]:
df_br_oil_prices.groupby(['PRODUTO'])['PRODUTO'].count().reset_index(name='total')

              PRODUTO  total
0    ETANOL HIDRATADO  23440
1  GASOLINA ADITIVADA    749
2      GASOLINA COMUM  23570
3                 GLP  23561
4                 GNV  14469
5         OLEO DIESEL   2351
6     OLEO DIESEL S10   2376
7        ÃLEO DIESEL  21194
8    ÃLEO DIESEL S10   9113

Tabela após limpeza

In [25]:
df_br_oil_prices

,DATA INICIAL,DATA FINAL,REGIAO,ESTADO,PRODUTO,NUMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PRECO MEDIO REVENDA,DESVIO PADRAO REVENDA,PRECO MINIMO REVENDA,PRECO MAXIMO REVENDA,COEF VARIACAO REVENDA
0,2004-05-09,2004-05-15,CENTRO OESTE,DF,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.012
1,2004-05-09,2004-05-15,CENTRO OESTE,GO,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.098
2,2004-05-09,2004-05-15,CENTRO OESTE,MT,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.070
3,2004-05-09,2004-05-15,CENTRO OESTE,MS,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.055
4,2004-05-09,2004-05-15,NORDESTE,AL,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.066
...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RR,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,0.012
120819,2021-04-25,2021-05-01,SUL,SC,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,0.045
120820,2021-04-25,2021-05-01,SUDESTE,SP,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,0.051
120821,2021-04-25,2021-05-01,NORDESTE,SE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,0.046
120822,2021-04-25,2021-05-01,NORTE,TO,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,0.036

Demonstração de que não há dados faltantes

In [26]:
df_br_oil_prices[df_br_oil_prices.isnull().any(axis=1)]

Empty DataFrame
Columns: [DATA INICIAL, DATA FINAL, REGIAO, ESTADO, PRODUTO, NUMERO DE POSTOS PESQUISADOS, UNIDADE DE MEDIDA, PRECO MEDIO REVENDA, DESVIO PADRAO REVENDA, PRECO MINIMO REVENDA, PRECO MAXIMO REVENDA, COEF VARIACAO REVENDA]
Index: []