In [2]:
import pandas as pd

df_word_oil_prices = pd.read_csv('../data/word_oil_prices.csv')
df_usd_brl = pd.read_csv('../data/usd_brl_data.csv')
df_br_oil_prices = pd.read_csv('../data/br_oil_prices_per_state_2004_2021.csv')

In [5]:
df_word_oil_prices[:10]

        Date  Price
0  20-May-87  18.63
1  21-May-87  18.45
2  22-May-87  18.55
3  25-May-87  18.60
4  26-May-87  18.63
5  27-May-87  18.60
6  28-May-87  18.60
7  29-May-87  18.58
8   1-Jun-87  18.65
9   2-Jun-87  18.68

In [4]:
df_usd_brl[:-10]

                    Data  Último Abertura  Máxima  Mínima     Vol.   Var%
0     19 de ago. de 2022  5,1695   5,1685  5,2192  5,1648  132,82K  0,04%
1     18 de ago. de 2022  5,1674   5,1655  5,2074  5,1283  149,11K  0,06%
2     17 de ago. de 2022  5,1642   5,1469  5,2144  5,1452  167,02K  0,36%
3     16 de ago. de 2022  5,1459   5,0987  5,1549  5,0965  148,45K  0,98%
4     15 de ago. de 2022  5,0961   5,0721  5,1409  5,0721  130,15K  0,45%
...                  ...     ...      ...     ...     ...      ...    ...
4826  19 de fev. de 2004  2,9570   2,9490  2,9590  2,9450      NaN  0,25%
4827  18 de fev. de 2004  2,9495   2,9245  2,9505  2,9095      NaN  1,11%
4828  17 de fev. de 2004  2,9170   2,9030  2,9250  2,9020      NaN  0,34%
4829  16 de fev. de 2004  2,9070   2,9010  2,9150  2,9020      NaN  0,07%
4830  13 de fev. de 2004  2,9050   2,9120  2,9190  2,8980      NaN  0,35%

[4831 rows x 7 columns]

In [4]:
df_br_oil_prices[:-10]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120808,2021-04-25,2021-05-01,SUDESTE,MINAS GERAIS,OLEO DIESEL S10,206,R$/l,4.314,0.143,4.040,5.070,-99999.0,0.033,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120809,2021-04-25,2021-05-01,NORTE,PARA,OLEO DIESEL S10,40,R$/l,4.447,0.265,3.950,5.050,-99999.0,0.060,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120810,2021-04-25,2021-05-01,NORDESTE,PARAIBA,OLEO DIESEL S10,32,R$/l,4.260,0.091,4.079,4.490,-99999.0,0.021,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120811,2021-04-25,2021-05-01,SUL,PARANA,OLEO DIESEL S10,142,R$/l,4.044,0.166,3.739,4.590,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120812,2021-04-25,2021-05-01,NORDESTE,PERNAMBUCO,OLEO DIESEL S10,93,R$/l,4.151,0.133,3.799,4.499,-99999.0,0.032,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [11]:
df_br_oil_prices["UNIDADE DE MEDIDA"].unique()

array(['R$/l', 'R$/13Kg', 'R$/m3'], dtype=object)

In [12]:
df_br_oil_prices_count_by_product = df_br_oil_prices[["UNIDADE DE MEDIDA"]]
df_br_oil_prices_count_by_product["TOTAL"] = 1
df_br_oil_prices_count_by_product.groupby("UNIDADE DE MEDIDA").sum("TOTAL")

/var/folders/ld/8dhf4gy93xbd1ybmf6nljm38dn1p1r/T/ipykernel_91196/3722656175.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_br_oil_prices_count_by_product["TOTAL"] = 1

                   TOTAL
UNIDADE DE MEDIDA
R$/13Kg            23561
R$/l               82793
R$/m3              14469

In [6]:
df_br_oil_prices_count_by_product = df_br_oil_prices[["PRODUTO"]]
df_br_oil_prices_count_by_product["TOTAL"] = 1
df_br_oil_prices_count_by_product.groupby("PRODUTO").sum("TOTAL")

/var/folders/ld/8dhf4gy93xbd1ybmf6nljm38dn1p1r/T/ipykernel_62586/3981491229.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_br_oil_prices_count_by_product["TOTAL"] = 1

                    TOTAL
PRODUTO
ETANOL HIDRATADO    23440
GASOLINA ADITIVADA    749
GASOLINA COMUM      23570
GLP                 23561
GNV                 14469
OLEO DIESEL          2351
OLEO DIESEL S10      2376
ÓLEO DIESEL         21194
ÓLEO DIESEL S10      9113